/* CSS for index.html */


html, body {
    height: 100%;
}

img {
    max-width: 100%;
}


#cover {
    background: #222 center center no-repeat;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/back-1.jpg');
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

#first_container {
    display: flex;
    justify-content: center;
}

.section-content {
    padding: 5rem;
}
    
.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

#first_container {
    margin-top: 20rem;
}

#project_title {
    margin-bottom: 10rem;
    font-weight: 400;
    border-radius: 0.3rem;
    opacity: 0.9;
}

#store-desc {
    background: rgba(255,255,255,0.1);
    padding: 0 0.2rem;
    border-radius: 0.2rem;
    text-shadow: 0 0 0.7rem rgba(0,0,0,0.5);
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}


.card {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.card-title {
    padding: 10px;
    word-spacing: 1px;
    text-transform: uppercase;
}

.card-detail {
    padding: 1px 25px;
    border-bottom: 1px solid #00b3b3;
    color: #D3D3D3;
    display: flex;
    align-items: center;
}

h5 {
    word-spacing: 1px;
    letter-spacing: 2px;
}

p {
   letter-spacing: 1px;
}

i {
    margin-right: 1rem;
}

.footer {
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.footer i {
    color: aliceblue;
    margin-left: 0.5rem;
    display: flex;
}

.card-price {
    float: left;
    width: 50%;
    height: 3rem;
    flex: 0 0 50%;
    font-size: 1.9rem;
    text-align: center;
    border-right: 1px solid #00b3b3;
    margin-bottom: 0px;
}

.card-link:link, .card-link:visited {
    float: left;
    width: 50%;
    height: 3rem;
    flex: 0 0 50%;
    background-color: #009999;
    color: aliceblue;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    letter-spacing: 1px;
    
}

.card-link:hover, .card-link:active {
            background-color: #67b26f;
    
}


@media screen and (max-width: 35rem) {
    #cover {
        height: 180%;
    }

    .section-content {
        padding: 1rem;
    }

    .card-deck {
        display: flex;
        flex-wrap: wrap;
    }    
    .card-price {
        font-size: 1.5rem;
    }
    .card-link:link, .card-link:visited {
        font-size: 0.6rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 75rem) and (min-width: 35rem){
    .section-content {
        padding: 2rem;
    }
    .card-price {
        font-size: 1rem;
    }
    .card-link:link, .card-link:visited {
        font-size: 0.4rem;
    }
    .card-link:link i, .card-link:visited i {
        height: 0.1rem;
        width: 0.1rem;
    }
}
