<div class="card">
        <img class="card-image-top" src="/{%IMAGE%}" alt="{%PRODUCTNAME%}">
        <div class="card-body bg-info">
           <div class="header">
               <h5 class="text-light  card-title border-bottom">{%PRODUCTNAME%}</h5>
           </div>
            <div class="card-text body-part">
                <p class="card-detail"><i class="material-icons">smartphone</i> {%DISPLAY%} </p>
                <p class="card-detail"><i class="material-icons">camera</i> {%CAMERA%} </p>
                <p class="card-detail"><i class="material-icons">memory</i> {%MEMORY%} </p>
                <p class="card-detail"><i class="material-icons">battery_std</i> {%BATTERY%} </p>
            </div>
            <div class="footer">
               <p class="bg-danger card-price">{%PRICE%}</p>
              <a href="/phone?id={%ID%}" class="card-link"> See Full Details <i class="large material-icons">arrow_forward</i></a> 
                </div>                         
            </div>
        </div>