<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style2.css">
    
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>OnePlus 7 Pro - Flagship Phones Store!!</title>
  </head>
  
  
  
  <body>
  <section id="cover"></section>
  
  <div class="container">
    
    <div class="row" id="phone">
        <div class="col-sm-12">
            <div class="card-deck">

                <div class="card">
                   <p class="text-warning bg-info" id="phone-price">{%PRICE%}</p>
                   <a href="template-homepage.html" id="go-back"><i class="material-icons">arrow_back</i> Go Back </a>
                   <div id="phone-image"><img class="card-image-top" src="/{%IMAGE%}" alt="{%PRODUCTNAME%}"></div>
                    
                    <div class="card-body bg-info">
                        <div class="header">
                            <h5 class="text-light  card-title border-bottom" id="phone-title"> {%PRODUCTNAME%} </h5>
                        </div>
                        <div class="card-text body-part" id="phone-details">
                            <p class="card-detail"><i class="material-icons">smartphone</i> {%DISPLAY%} </p>
                            <p class="card-detail"><i class="material-icons">camera</i> {%CAMERA%} </p>
                            <p class="card-detail"><i class="material-icons">straighten</i> {%MEMORY%} </p>
                            <p class="card-detail"><i class="material-icons">memory</i> {%CPU%} </p>
                            <p class="card-detail"><i class="material-icons">sd_storage</i> {%STORAGE%} </p>
                            <p class="card-detail"><i class="material-icons">battery_std</i> {%BATTERY%} </p>
                        </div>
                        <p id="phone-description">
                            {%DESCRIPTION%}
                        </p>
                        <div class="footer">
                            
                            <a href="#" class="phone-link"> Buy Now For {%PRICE%} <i class="large material-icons"> thumb_up </i></a> 
                        </div>                         
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
      
   
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="../js/bootstrapjs/bootstrap.min.js"></script>
  </body>
</html>